/**
 * IPRO Framework Global CSS
 * 2009 Erik Schoster, IPRO
 */
 
/* Structure
*/

body {
	font-family: arial, helvetica, sans-serif;
}

div.global_wrapper {
	padding: 10px;
	margin: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #DDD;
}

div.item_wrapper {
	padding: 10px;
	background-color: #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
}

div.clear {
	clear: both;
}

/* Text
*/

strong {
	font-weight: bold;
	font-color: #222;
}

h1 {
	color: #444;
	font-size: 30px;
	font-weight: bold;
}

h2 {
	color: #666;
	font-size: 20px;
	font-weight: bold;
}

h3 {
	color: #888;
	font-size: 16px;
	font-weight: bold;
}

h4 {
	color: #aaa;
	font-size: 11px;
	font-weight: bold;
}

h4 strong {
	color: #777;	
}

p {
	color: #444;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

hr {
	border: none;
	border-top: 1px solid #888;
	clear: both;
	margin: 5px 0px 5px 0px;
}

/* Elements
*/

div.message {
	background-color: yellow;
	padding: 5px;
	margin-bottom: 5px;
	color: #444;
	font-weight: bold;
	font-size: 12px;
}

div.button {
	display:-moz-inline-stack;
	display: inline-block; 
	zoom:1;
	*display:inline;
	position: relative; 
}

label.button {
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 52%;
	z-index: 1;
	padding: 0;
	background-color: #fff;
	border-bottom: 11px solid #eee;
	font: 14px Arial, Sans-serif;
	color: #666;
	text-indent: -999999px;
}

input.button {
	z-index: 10;
	position: relative;
	display: inline-block; 
	margin: 0px;
	padding: 3px 5px;
	background: none;
	font: 14px Arial, Sans-serif;
	color: #666;
	border: none;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

input.button:hover {
	cursor:pointer;
	color: #000;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

a.button {
	z-index: 10;
	position: relative;
	display: inline-block; 
	margin: 0px;
	padding: 3px 5px;
	background: none;
	font: 14px Arial, Sans-serif;
	text-decoration: none;
	color: #666;
	border: none;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

a.button:hover {
	cursor:pointer;
	color: #000;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

a.breadcrumb:link, 
a.breadcrumb:visited, 
a.breadcrumb:active {
	font-size: 10px;
	color: #333;
	text-decoration: none;
}

a.breadcrumb:hover {
	color: #666;
	text-decoration: underline;
}

span.error {
	display: block;
	font-size: 11px;
	font-weight: bold;
	color: red;
	margin-top: 5px;
}

/* Form
*/

div.input {
	border: 1px solid #eee;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

div.input label {
	display: block;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	margin-bottom: 3px;
}

div.checkbox p {
	display: inline;
}