/**
 * IPRO Framework Debug CSS
 * 2009 Erik Schoster, IPRO
 */

table.cake-sql-log {
	margin: 10px;
	padding: 10px;
	color: #999;
	background-color: #eee;
	border: 1px solid #999;
}

table.cake-sql-log caption {
	font-size: 10px;
	text-transform: uppercase;
	padding: 2px;
	background-color: #fff;
}

table.cake-sql-log thead tr th {
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #777;
}

table.cake-sql-log tbody tr td {
	padding: 5px;
	font-size: 11px;
	background-color: #fff;
}

.debug {
	
}

.session {
	margin: 10px;
	padding: 0px 10px 10px 10px;
	color: #999;
	background-color: #eee;
	border: 1px solid #999;
}

.session h3 {
	padding: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #777;
}

.session pre {
	padding: 5px;
	font-size: 11px;
	background-color: #fff;
}